body{
    background-color: black;
}

.nav-cont{
   background-color:  #343a40 !important;
}

.navbar-brand{
    font-family: 'Fredoka One', cursive;  
}

.whybuy-bg{
    background-color: black;
}

.wb-p{
    padding-top:10rem;
}

.wbf{
    font-size: 140px;
    font-family: 'Fredoka One', cursive;
}

.wbf:hover{
    cursor: pointer
}
.green{
    color: green;
}

.yellow{
    color: yellow;
}

.red{
    color: red;

}
.title-wb{
    color:slategrey;
}



.footer {
    position:fixed;
    bottom:0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #343a40 !important;
    color:#fff;
}